<tr>
    <td style="width: 100%;">
        <div class="main-div">
            <mat-card class="action-card">
                <mat-card-header>
                    <mat-card-title>{{action.description}}</mat-card-title>
                    <mat-card-subtitle>#{{action.id}} - {{action.type}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Segments
                    </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
        <ng-template #mainTemplate></ng-template>
    </td>
</tr>