<a href="#">
    <div class="box">
        <div class="start">
            <div class="start-title">
                <b>Email - {{ action.id }}</b>
                <br />
                {{ action.type }}
            </div>
            <div class="start-content">
                <small>{{ action.description }}</small>
            </div>
        </div>
    </div>
</a>
<a href="#">
    <div class="pointer">
        <span class="addnewicon" data-blockid="24" data-direction="-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus"
                viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </span>
    </div>
</a>
<div class="wrap-content">
    <ng-template #mainTemplate></ng-template>
</div>