.flex-container {
	display: flex;
	justify-content: center;
}

.zoom {
	zoom: 80%;
}

.flow-table {
	text-align: center;
	table-layout: fixed;
	width: 100%;
	// border: 1px solid blue;
	margin-bottom: 40px;
}

.flow-table td {
	overflow: hidden;
	text-overflow: ellipsis;
}

.chip-list {
	margin-bottom: 14px;
}