.action-card {
	max-width: 200px;
	min-width: 200px;
	align-content: center;
}

.main-div{
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	margin-top: -5px !important;
}