.action-card {
	max-width: 200px;
	min-width:200px;
	align-content: center;
}

.main-div{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 2000px;
}

.line:after {
	content:"";
    // position: absolute;
    z-index: -1;
	height: 20px;
    left: 50%;
    border-left: 2px solid #ccc;
    transform: translate(-50%);
}

div {
	margin-top: -5px !important;
}